* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --white: #ffffff;
  --background-white: #f9f4fb;

  --text-pink: #b52184;
  --text-blue: #312d64;

  --background-blue: linear-gradient(135deg, #343193, #302c63);
}

body * {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
}

#body {
  display: flex;
  flex-direction: column;
}

h1,
h3,
legend {
  color: var(--text-pink);
}

p,
input::placeholder,
textarea::placeholder {
  color: var(--text-blue);
  font-weight: 600;
}

h1 {
  font-size: 3.2rem;
  font-weight: 900;
}

span {
  font-size: 2rem;
  font-weight: 600;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1.7rem; */
}

header img:first-child {
  width: 42rem;
  height: 42rem;
  margin-bottom: 1.7rem;
}

header p {
  margin-top: 0.5rem;
}

#arrow {
  margin-top: 3.5rem;
  margin-bottom: 9.3rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#boxing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;

  background: var(--background-blue);
  width: 100%;

  padding: 5.2rem 0;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 2rem;

  background-color: var(--background-white);
  max-width: 35.2rem;
  padding: 2.6rem 6rem 2.6rem 2.6rem;
  border-radius: 2rem;
}

.box h3 {
  margin-top: 1.3rem;
  font-size: 3rem;
  font-weight: 900;
}

.box p {
  font-weight: 600;
}

#boxForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;

  width: 35.2rem;

  margin: 7.8rem 0 6.5rem;
}

form input,
form textarea {
  width: 100%;
}

form legend {
  font-size: 3.2rem;
  font-weight: 900;
}

form input,
form textarea {
  border: 2px solid var(--text-blue);
  /* outline: 2px solid var(--text-pink); */
  border-radius: 1.6rem;
}

form input:focus,
form textarea:focus {
  border: 2px solid var(--text-pink);
  outline: none;
}

.input {
  position: relative;
  width: 100%;
}

.input img {
  position: absolute;
  top: 1.2rem;
  bottom: 1.2rem;
  left: 1.4rem;
}

.input input {
  padding: 1.2rem 1.4rem 1.2rem 5rem;

  width: 100%;
}

form textarea {
  padding: 1.2rem 1.4rem;

  max-height: 12.6rem;
  resize: none;
}

form button {
  padding: 1rem 1.6rem;
  background: var(--background-blue);

  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: var(--white);

  border: none;
  border-radius: 1.6rem;

  transition: 0.3s ease-in-out;
}

form button:hover {
  cursor: pointer;
  filter: brightness(1.3);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3.2rem 0;

  background: var(--background-blue);
}

footer p {
  color: var(--background-white);
  font-size: 2rem;
  font-weight: 600;
}

@media (min-width: 1200px) {
  header {
    display: grid;
    grid-template-columns: 45% 55%;
    /* grid-template-rows: ; */
    grid-template-areas: 'content img';

    margin-bottom: 10rem;
  }

  header img:first-child {
    grid-area: img;
    width: 65rem;
    height: 65rem;
  }

  header #content {
    grid-area: content;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10rem;
  }

  header #content h1 {
    font-size: 6rem;
  }

  header #content p {
    font-size: 3.2rem;
  }

  header #content img {
    margin-top: 10rem;
    margin-bottom: 0;
  }

  #boxing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 6.4rem 11rem;
  }

  .box {
    height: 46rem;
    padding: 3.2rem 1.3rem 7.2rem 3.2rem;
  }

  .box h3 {
    font-size: 3.5rem;
  }

  .box p {
    font-size: 2rem;
  }

  #boxForm {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: transparent url('./assets/backgroundImage.png') no-repeat 100%;
  }

  form {
    margin-left: 11rem;
    width: 40%;
  }

  form legend {
    font-size: 4.2rem;
  }
}
